.body-class {
    background-color: rgb(73, 124, 137);
  }
.header-class{
    background-color: #874949;
    color:azure;
    font-family: 'Times New Roman', Times, serif;
  } 
.nav-class {
    background-color: #476F7A;
    font-family: 'Times New Roman', Times, serif;
  }

.nav-link-class {
    color: #E0A458;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-decoration: none; 
    padding: 5px;   
    margin:5px;
  }

.nav-link-class.active {
    font-weight: bold;
}

.title-class {
    color:  #E0A458;
    font-family: 'Times New Roman', Times, serif;
    border: #874949;
    padding: 10px;
    margin: 10ox;
  }

.section-title-class {
    color: white;
    background-color:#E0A458;
    font-family: 'Times New Roman', Times, serif;
    border: solid 5px #874949;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
 .blockquote-class{
  color:#874949;
  background-color: cadetblue;
  border: solid 2px white;
  padding:10px;
  margin: 10px;
 }
/*
.hero-section-class, .origin-section-class, .faq-section-class {
  padding: 10px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}
*/
.faq-class{
  background-color: cadetblue;
  border: solid 2px white;
  padding:10px;
  margin: 10px;
}

.faq-question-class{
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  color: midnightblue;
}

.text-class {
  color: #F2F2F2;
  font-family: 'Times New Roman', Times, serif;
}

.image-class {
  border: solid 5px #874949;
  width: 100%;
  height: auto;
}
.form-class {
  background-color: #A3C38E;
  font-family: 'Times New Roman', Times, serif;
}
.button-class {
  background-color: #d9534f; 
  color: white; 
  border: none;
  padding: 10px;
  cursor: pointer;
}
.footer-class {
  background-color: #A3C38E;
  color:#A3C7E0;
  font-family: 'Times New Roman', Times, serif;
}
/*Responsive layout for mobile phones*/
@media (max-width: 600px) {
  .nav-class {
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .nav-link-class {
    padding: 10px 0;
    display:block;
  }
  .hero-section-class, .origin-section-class, .faq-section-class {
    padding: 10px;
  }
  .img {
    width: 100%;
    height: auto;
  }
  .footer-class{
    text-align: center;
  }
}
/*This is for tablets*/
@media (min-width: 601px) and (max-width: 1024px) {
  .nav-class {
    display:flex;
    justify-content: space-around;
  }
  .section-title-class {
    font-size: 1.5em;
  }
  .form-class {
    width: 80%;
    margin: 0 auto;
  }
  .image-class {
    width: 80%; 
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

/*Responsive for desktops*/
@media (min-width: 1025px) {
  .nav-class {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .section-title-class {
    font-size: 2em;
  }
  .form-class {
    width: 60%;
    margin: 0 auto;
  }
}